.form {
    width: 340px;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.button {
  display: block;
margin-right: auto;
margin-left: auto;
margin-top: 60px;
  padding: 5px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: transparent;
  border: 1px solid white;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
  color: white;

  cursor: pointer;
}

.button:hover,
.button:focus {
  border: 1px solid blue;
  color: rgb(251 255 0);
}
